#Java Compiled file


*.class

#Build folder
target/
bin/
out/

#Eclipse
.metadata/
.classpath
.project
.settings/

#Servers
servers/

#maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionBackup
pom.xml.next
release.properties

.log


*.tmp
*.temp
*.swp
*.swo

.DS_Store
Thumbs.ds

work/
temp/
logs/



.env
.env.*
!.env.example


